body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header img {
  max-width: 100px;
}

.service-item img {
  max-width: 100%;
  height: auto;
}

form label {
  margin-top: 10px;
}

form button {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
}

footer p {
  margin: 10px 0 0;
}

/* Custom Styles */
header {
  background-color: #004643;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
  color: #a7c4bc !important;
}

h1,
h2 {
  color: #004643;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

.btn-success {
  background-color: #32aa27;
  border-color: #32aa27;
}

.btn-success:hover {
  background-color: #26801d;
  border-color: #26801d;
}

.btn-secondary {
  background-color: #004643;
  border-color: #004643;
}

.btn-secondary:hover {
  background-color: #003f3f;
  border-color: #003f3f;
}

footer {
  background-color: #004643;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #a7c4bc;
}

footer .list-unstyled li {
  margin-bottom: 10px;
}

/* Home Section Styles */
#home {
  min-height: 85vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

#home .content {
  position: relative;
  z-index: 2;
}

#home h1,
#home p,
#home a {
  color: #ffffff;
}
/* styles.css */

/* Ajuste para as imagens dos cards */
.card-img-top {
  width: 100%;
  height: 200px; /* Ajuste conforme necessário */
  object-fit: cover;
}

/* Ajuste para garantir que todos os cards tenham a mesma altura */
.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Ajuste para garantir que os textos dentro dos cards estejam no fim do card */
.card-body p {
  margin-top: auto;
}

/* Estilização para a seção de localização */
#location {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  padding: 1.5rem;
}

#contact form .form-check-label {
  display: inline-block;
}
